<!DOCTYPE html>
<html lang="en">

<head>
    <title>Willows Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>hiiiiiiii jadey</h1>
    <button onclick="sayHello()">Click me</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <br>
    <h1>Subjects i am studying</h1>
    <p>English Literarture</p>
    <p>Specialist Methods</p>
    <p>Physics</p>
    <p>Programming</p>
    <p>Pre-Modern History</p>
    <br>
    <h1>Technologies I Have Learnt in this Class</h1>
    <p>Python Programming</p>
    <p>HTML Syntax</p>
    <p>Terminal Commands</p>
</body>

